# NeoSpeech installer files are proprietary/copyrighted -- never commit them.
# Building this image requires supplying your own legally-obtained copy
# alongside this repo (see README.md).
setup.exe
setup.bmp
setup.ini
setup.inx
ISSetup.dll
layout.bin
data1.cab
data1.hdr
data2.cab
0x*.ini
installer/

# build/debug artifacts
*.log
*.wav
build/
